* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body{
  font-family: 'Roboto', sans-serif;
}

.mainApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 30px;
}

.search {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.search__figure{
  width: 300px;
}

.search__img{
  width: 100%;
}

.search__paragraph{
  font-size: 1.625rem;
  color: white;
  text-shadow: 0 0 2px;
}

.search--only{
  color: black;
  font-weight: bold;
}

.search__input{
  width: 300px;
  padding: 1rem;
  text-align: center;
  font-size: inherit;
  border: 1px solid black;
  border-radius:1.875rem;
  font-family: inherit;
}

.search__button{
  width: 100px;
  padding: 1rem;
  border-radius: 1.875rem;
  background-color:orange;
  font-size: inherit;
  font-family: inherit;
}

.search__button:active{
  background-color:darkgray;
}

.cardsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 50cm;
}

/* Loader */

.load{
  display: none;
}

.content-img{
  position: absolute;
  height: 26%;
  bottom: 10px;
  left: 35px;
}
.content-img img{
  height: 100%;
}
.content-img img:nth-child(2){
  height: 40%;
  position: absolute;
  bottom: 50%;
  right: 15%;
}

/* Card */
.card {
  position: relative;
  width: 400px;
  height: 500px;
  margin: 20px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0,0,0,.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
  font-size: 1.25rem;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
} 

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}


.footer{
  
}


/* Media queries */



@media (min-width:375px){
  .content-img{
    left: 50px;
  }
}

@media (min-width:425px){
  .content-img{
    left: 90px;
  }
}

@media (min-width: 768px){
  .card{
    height:700px
  }

  .content-img{
    left: 40px;
  }
}
